@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&family=Poppins:wght@100;200;300&family=Roboto:wght@100;300;400&display=swap');

:root{
  --black-1: #0d1117;
  --black-2: #161B22;
  --white-1: #E6EDF3;
  --blue-1: #2F81F7;
  --grey-1: #7D8590;
  --grey-2:rgb(72, 75, 80);
  --grey-3: #161b22;
  --green-1: #238636;
  --red-1: #331413;
  --red-2: #F85149;
}
*{
  font-family: 'Roboto', sans-serif;
}
body, h5, h4, h3, h2, h1, p{
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.App{
  background-color: grey;
}
.container{
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--black-1);
  color: var(--white-1);
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
  position: relative;
}
.default-label{
  font-size: 14px;
  margin-bottom: 8px;
}
.default-input{
  width: -webkit-fill-available;
  border: none;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 6px;
  border: 1px solid var(--grey-2);
  background-color: var(--black-1);
  color: var(--white-1);
  margin-bottom: 16px;
}
.link{
  color: var(--blue-1);
  cursor: pointer;
}
.general-button{
  cursor: pointer;
  width: -webkit-fill-available;
  border: none;
  color: var(--white-1);
  background-color: var(--green-1);
  font-size: 14px;
  font-weight: 500;
  min-height: 32px;
  border-radius: 6px;
}
.general-button:hover{
  background-color: #33a049;
}
.logo{
  width: 32px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-2);
  padding: 16px;
  border-bottom: 1px solid var(--grey-2);
  position: fixed;
  top: 0;
  max-width: calc(1440px - 32px);
  width: 100%;
}
.navbar-title{
  font-size: 24px;
  font-weight: 400;
  margin-left: 16px;
}
.navbar .right, .navbar .left{
  display: flex;
  align-items: center;
}
.navbar .left .nav{
  margin-right: 16px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.avatar{
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.default-layout-content{
  padding: 65px 0;
  max-width: 775px;
  margin: 0 auto;
  padding-top: 97px;
}
textarea:focus, input:focus{
  outline: none;
}